{% extends "base.html" %}

{% block content %}
        <h3>Список</h3>
        <table>
            <tr>
                <td><p>Наименование</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            {% for p in products %}
                <tr>
                    <td><p>{{ p.name }}</p></td>
                    <td><p>{{ p.price }}</p></td>
                    <td><p><a href="/buy/{{ p.id }}">Купить</a></p></td>
                    <td><form action="{% url 'add_to_cart' p.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Добавить в корзину</button>
                    </form></td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}