{% extends "base.html" %}

{% block content %}
    <div>
        <h3>Покупка</h3>
        <form method="post">{% csrf_token %}
            <input type="hidden" value="{{ view.kwargs.cart_id }}" name="cart" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="person" /> </td>
                </tr>
                <tr>
                    <td><p>Введите адрес доставки:</p></td>
                    <td>
                        <input type="text" name="address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
        {% for field in form %}
    {{ field.errors }}
{% endfor %}
    </div>
{% endblock %}
