{% extends "base.html" %}

{% block content %}
  <h3>Корзина</h3>
  <table>
    <tr>
      <td><p>Наименование</p></td>
      <td><p>Цена</p></td>
      <td></td>
    </tr>
    {% for item in cart_items %}
      <tr>
        <td><p>{{ item.product.name }}</p></td>
        <td><p>{{ item.product.price }}</p></td>
        <td>
          <form action="{% url 'remove_from_cart' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Удалить из корзины</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  <p><a href="{% url 'buy' %}">Оформить заказ</a></p>
{% endblock %}